<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.service.pay.mapper.PaymentInfoMapper">

    <resultMap id="paymentInfoMap" type="com.spzx.model.entity.pay.PaymentInfo" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,user_id,order_no,pay_type,out_trade_no,amount,content,payment_status,callback_time,callback_content,create_time,update_time,is_deleted
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into payment_info (
            id,
            user_id,
            order_no,
            pay_type,
            out_trade_no,
            amount,
            content,
            payment_status,
            callback_time,
            callback_content
        ) values (
                     #{id},
                     #{userId},
                     #{orderNo},
                     #{payType},
                     #{outTradeNo},
                     #{amount},
                     #{content},
                     #{paymentStatus},
                     #{callbackTime},
                     #{callbackContent}
                 )
    </insert>

    <!--根据订单流水号，查询PaymentInfo-->
    <select id="getPaymentInfo" resultType="com.spzx.model.entity.pay.PaymentInfo">
        select <include refid="columns" />
        from payment_info
        where
        order_no = #{orderNo}
    </select>
</mapper>